doctype html
html
  head
    title Project Manager
    link(rel="stylesheet", href="/styles.css")
  body
    header
      h1 Welcome to my portfolio
    nav
      ul
        li: a(href="/") Home
        li: a(href="add-project") AddProjects
        li: a(href="/add-skill") Addskill
        li: a(href="/about") About
        li: a(href="/user/login") login 
        li: a(href="/user/register") Register
    main
      h2 Hi there i am your go to Full stack Web Devoloper 
      p  I make website with help of nodejs,react, mongo db 
      a(href="/projects") View Projects
    footer
      p &copy; #{new Date().getFullYear()} Project Manager. All rights reserved.
